body{
    height: 100%;
    width: 100%;
    margin:0;
    text-align: center;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    height: 100%;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }